# 1- Base du Python

## a) types

### Creez une variable 'string' contenant "toto" et une variable 'number' contenant le nombre 10

In [8]:
string = 'toto'
number = 10
print(string)
print(number)

toto
10

### Convertissez 'string' en unicode et 'number' en float

In [9]:
type(string)
type(number)
number = float(number)
type(number)

float

### Inversez le contenu des variables 'string' et 'number' (en 1 ligne)

In [73]:
print(string)
print(number)
string, number = number, string
print(string)
print(number)

toto
10.0
10.0
toto

## b) Listes

### Créez une liste A contenant les entiers suivants: 1, 3, 2, 7, 4, 10, 46

In [10]:
a = [1, 3, 2, 7, 4, 10, 46]
print(a)

[1, 3, 2, 7, 4, 10, 46]


### Affichez les 3 premiers éléments de la liste A - en une ligne de code

In [11]:
print(a[:3])

[1, 3, 2]

### Créez une liste B qui contient seulement les 3e, 4e et 5e éléments de A . Votre ligne de code ne devrait contenir que 8 caractères (sans compter les espaces) - Vérifiez bien votre résultat!

In [12]:
b = a[2:5]
print(b)

[2, 7, 4]

### Concaténez les listes A et B pour former la liste C

In [13]:
c = a + b
print(c)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### A l'aide de la function zip associez les valeurs de A et B dans la variable D

In [14]:
d = zip(a, b)
list(d)

[(1, 2), (3, 7), (2, 4)]

### Ajoutez le nombre 5 à la liste A

In [15]:
a.append(5)
print(a)

[1, 3, 2, 7, 4, 10, 46, 5]

### Ajoutez un élément nul à la liste C

In [16]:
c.append(None)
print(c)

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Écrivez une fonction qui prend comme arguments une liste 'lst' et un entier 'n' et retourne le résultat de n concaténations de 'lst' avec elle-même (ex: lst=[1,2,3], n=2 --> [1,2,3,1,2,3])

In [17]:
lst = [1, 2, 3]
n = 2
i = 1
while i < n:
    lst = lst + lst
    i += 1
print(lst)

[1, 2, 3, 1, 2, 3]

### Vous voulez rendre le paramètre 'n' optionnel et fixer sa valeur à 2 par défaut. Comment faites-vous?

In [72]:
def fun(lst, n = 2):
    return (lst * n)
print(fun([1, 2, 3], 3))

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### Avec une boucle 'while', imprimez chaque élément de la liste C jusqu'à l'élément nul

In [18]:
for el in c:
    if el == None:
        break
    print(el)

1
3
2
7
4
10
46
2
7
4

### Calculez, avec une boucle 'for', le nombre d'entiers pairs présents dans la liste A

In [19]:
i = 0
for el in a:
    if (el % 2 == 0):
        i += 1
print(i)

4

### Réécrivez l'expression suivante avec une boucle 'for' sur plusieurs lignes

In [4]:
C = [element for element in A if element %2 == 0]

### Creez une fonction qui prend une string en entree et retourne la premiere lettre unique de la string

In [71]:
def fun(string):
    for char in string:
        nb = 0
        for c in string:
            if char == c:
                nb += 1
        if nb == 1:
            break
    return char
print(fun("sdaasd"))

d

## c) Dictionnaire

### Creez un dictionnaire 'voiture' avec les cles et les valeurs suivantes:
| cle  | valeur |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [66]:
voiture = {"brand": "Ford", "model": "Mustang", "year": 1964}
print(voiture)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Accedez a la valeur de "year"

In [44]:
print(voiture["year"])

1964

### Affichez a l'aide d'une boucle, l'ensemble des cles du dictionnaires

In [47]:
for k, val in voiture.items():
    print(k)

brand
model
year

### Affichez a l'aide d'une boucle, l'ensemble des valeurs du dictionnaires

In [49]:
for key, val in voiture.items():
    print(val)

Ford
Mustang
1964

### Affichez a l'aide d'une boucle, l'ensemble des items du dictionnaires. Affichez egalement l'indice de chaque iteration de boucle (fonction enumerate)

In [57]:
for i, k in enumerate(voiture):
    print(i)
    print(k)
    print(voiture[k])

0
brand
Ford
1
model
Mustang
2
year
1964

### A l'aide d'une dictionnaire comprehension creez un dictionnaire avec les cles et valeurs suivantes :
| cle  | valeur |
|---|---|
| cle_1  | dictionnaire 'voiture' |
| cle_2  | dictionnaire 'voiture' |
| cle_3  | dictionnaire 'voiture' |

#### exemple de dictionnaire comprehension :
```
dict = {cle:valeur for cle, valeur in list_1, list_2}
```

In [70]:
dict = {cle:{k:v for k,v in voiture.items()} for cle in ['cle1','cle2','cle3']}
dict

{'cle1': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964},
 'cle2': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964},
 'cle3': {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

## d) Fonctions

### Creez une fonction fibonacci (suite de fibonacci: 0 1 1 2 3 5 8 13 ...)

In [74]:
def fib(n):
    idx = 1
    ret0 = 0
    tmp = 0
    ret = 1
    if (n == 0):
        return (0)
    if (n == 1):
        return (1)
    while (idx < n):
        tmp = ret
        ret = ret + ret0
        ret0 = tmp
        idx += 1
    return (ret)

### Executez votre fonction (fibonacci(100) doit etre execute en moins de 1 seconde)

In [75]:
fib(100)

354224848179261915075

### Creez une fonction fibonacci en utilisant un generateur